<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" bootstrap="tests/bootstrap.php" cacheResult="false" colors="true" displayDetailsOnTestsThatTriggerWarnings="true" displayDetailsOnIncompleteTests="true" displayDetailsOnTestsThatTriggerDeprecations="true">
  <testsuites>
    <testsuite name="Bookstore">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>/home/dejan/dev/bookstore/src</directory>
      <directory>/home/dejan/dev/dbal/src</directory>
      <directory>/home/dejan/dev/orm/src</directory>
    </include>
  </source>
</phpunit>
